{% extends 'base.html.twig' %}

{% block title %}Edit!{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<table class="table table-hover table-striped" border="1">
    <thead>
    <tr>
    <th>#</th>
    <th>Nom & Prénom </th>
    <th> nbr_personne </th>
    <th> email </th>
    <th></th>
    </thead>
    <tbody>
    {% for client in M %}
    <tr>
    <td>{{client.id}}</td>
    <td>{{client.nom | upper}}</td>
    <td>{{client.nbrpersonne}}</td>
    <td>{{client.email}}</td>
    
    </tr>
    {% else %}
    <tr>
    <td colspan="5">Aucun abonné</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}